.gallerySec {
  /* background-color: rgb(17, 124, 173); */
  /* opacity: 0.8; */
  z-index: -8;
  overflow: hidden;
  margin-top: 620px;
}
.gallerySec h2 {
  color: white;
  font-family: "Zain", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 70px;
  text-align: center;
  padding-top: 0.3em;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 0;
  margin-bottom: 3rem;
  opacity: 1;
  aspect-ratio: 16/9;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;

  .card {
    padding-top: 15px;
    height: 100%;
    background-color: white;
    border-radius: 30px;
    box-shadow: 3px 5px 5px black;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;

    h4 {
      color: black;
      font-family: "Zain", sans-serif;
      font-weight: 500;
      font-style: normal;
      font-size: 35px;
      margin: 0;
    }
    img {
      width: 100%;
      height: 30rem;
      max-width: 100%;
      object-fit: cover;
      box-sizing: border-box;
      border-radius: 30px;
      display: block;
      padding: 10px;
    }
    p {
      padding: 0 20px;
      position: inherit;
      font-family: "Zain", sans-serif;
      font-size: x-large;
      font-weight: 400;
    }
  }
}
.slider-wrapper {
  position: relative;
  max-width: 78rem;
  margin: 0 auto;
}
.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 0.3rem;
  left: 50%;
  transform: translateX(-50%);
}
.slider-nav a {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: rgb(31, 196, 247);
  opacity: 0.75;
  transition: opacity ease 250ms;
}
.slider-nav a:hover {
  opacity: 1;
}
