.navbar {
  /* width: 95%; */
  background-color: transparent;
  height: 15%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 10px 20px;
  border-bottom: 1px solid rgb(252, 252, 252);
  background-color: white;
  opacity: 0.9;
}
.tabs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
  font-family: "Zain", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 30px;
  padding-right: 30px;
  color: black;
}
.navbar-logo {
  font-family: "Zain", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
img {
  width: 50px;
  /* padding: 10px; */
}
