.navParent {
  display: unset;
}

.navbar {
  /* background-color: transparent; */
  height: 15%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 10px 20px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}
.tabs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
  font-family: "Zain", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 30px;
  padding-right: 30px;
  color: rgb(255, 255, 255);
  /* overflow: auto; */
}
.navbar-logo {
  font-family: "Zain", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
img {
  width: 50px;
}
