.navParent {
  display: unset;
  position: relative;
  z-index: 9;
}
.navbar {
  background: transparent;
  height: 15%;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 10px 20px;
  position: sticky;
  top: 0;
}
.tabs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
  font-family: "Zain", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 30px;
  padding-right: 30px;
  color: rgb(255, 255, 255);
}
.home:hover,
.about:hover,
.gallery:hover,
.contacts:hover {
  background-color: rgb(29, 163, 216);
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.navbar-logo {
  font-family: "Zain", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
img {
  width: 50px;
  /* animation: rotate 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) = -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both; */
}
/* @keyframes rotate {
  to {
    transform: rotate(360deg);
  }
} */
